body{
    background-color: black !important;
    color:#fff;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .material-symbols-outlined{
    font-size: 45px !important;
  }

  .nav-link{
    color: #fff !important;
  }

  .dropdown-item{
    color: #fff !important;
  }

  :root, [data-bs-theme=light]{

    --bs-tertiary-bg: #black !important;
  }

  .navbar-toggler{
    color: #fff !important;
  }

  .font{
    font-family: "Cardo", sans-serif !important;
  }

  .text-color{
    color:  rgba(255, 255, 255, 0.6) !important;
  }
<<<<<<< HEAD


  .font-size{
    font-size: 56px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    color: white;
    font-weight: normal;
    font-style: normal;
    font-size: 42px !important;
    line-height: 1;
    background-color: gray;
    letter-spacing: normal;
    border-radius: 50%;
    padding: 10px;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}
.sec-first-font{
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.php-email-form input{
    border-radius: 4px;
    box-shadow: none;
    font-size: 17px;
    background-color: var(--color-secondary);
    border: 1px solid #2e3133;
    color: #fff;
}
.php-email-form textarea{
    border-radius: 4px;
    box-shadow: none;
    font-size: 17px;
    background-color: var(--color-secondary);
    border: 1px solid #2e3133;
    color: #fff;
}
:root {
    --color-default: #fafafa;
    --color-primary: #27a776;
    --color-secondary: #161718;
}
.form-grp{
    padding: 10px 0px;
}
.php-email-form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}
.radius .radius-50{
    border-radius: 50px;
}
.nav-link{
    color: #fff !important;
  }

  .material-symbols-outlinedd {
=======
body{
    background-color: black !important;
    color:#fff;
    margin: 0;
}

.material-symbols-outlined {
>>>>>>> esha
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
<<<<<<< HEAD
  .material-symbols-outlinedd {
      font-family: 'Material Symbols Outlined';
      color: white;
      font-weight: normal;
      font-style: normal;
      font-size: 42px !important;
      line-height: 1;
      /* background-color: gray; */
      letter-spacing: normal;
      border-radius: 50%;
      padding: 10px;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      /* -webkit-font-feature-settings: 'liga'; */
      -webkit-font-smoothing: antialiased;
  }
=======

  .material-symbols-outlined{
    font-size: 45px !important;
  }

  .nav-link{
    color: #fff !important;
  }

  .dropdown-item{
    color: #fff !important;
  }

  :root, [data-bs-theme=light]{

    --bs-tertiary-bg: #black !important;
  }

  .navbar-toggler{
    color: #fff !important;
  }

  .font{
    font-family: "Cardo", sans-serif !important;
  }

  .text-color{
    color:  rgba(255, 255, 255, 0.6) !important;
  }

>>>>>>> esha
