body{
    background-color: black !important;
    color:#fff;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .material-symbols-outlined{
    font-size: 45px !important;
  }

  .nav-link{
    color: #fff !important;
  }

  .dropdown-item{
    color: #fff !important;
  }

  :root, [data-bs-theme=light]{

    --bs-tertiary-bg: #black !important;
  }

  .navbar-toggler{
    color: #fff !important;
  }

  .font{
    font-family: "Cardo", sans-serif !important;
  }

  .text-color{
    color:  rgba(255, 255, 255, 0.6) !important;
  }
